
<section class="users-section">
  <ul class="users-list">
  <h3>your unaccepted friend requests:</h3>
    <% @receivers.each do |user| %>
    
    <%if !current_user.sending_requests[user.id]%>
    
      <li>
        Name: <%= user.name %>

      </li>
      <% end %>
    <% end %>
  </ul>
</section>