<section class="users-section">
  <ul class="users-list">
  <h3>your pending friend requests:</h3>
    <% @senders.each do |user| %>
    <ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Name: <%= user.name%>
    <span class="badge badge-primary badge-pill">

    <%= link_to "Approve or Reject friend request", user_path(user)%>
    </span>
  </li>
</ul>

    
    <% end %>
  </ul>
</section>